{{#each theList}}
<div>

  <P>{{this.firstname}}</P>
  <p>{{this.lastname}}</p>
  <p>{{this.email}}</p>
  {{!-- <a href="/movies/edit/{{this._id}}">Edit</a>
  <form action="/movies/delete/{{this._id}}" method="post">
    <input type="submit" value="Delete"> 
    {{!-- //can be a button  --}}
  </form> --}}

</div>

{{/each}}