{{#each theList}}
<div>

  <P>FirstName:{{this.firstname}}</P>
  <p>LastName: {{this.lastname}}</p>
  <p>Email Address: {{this.email}}</p>
  <p>Subject: {{this.subject}}</p>
  <p>Message: {{this.message}}</p>
  {{!-- <a href="/movies/edit/{{this._id}}">Edit</a>
  <form action="/movies/delete/{{this._id}}" method="post">
    <input type="submit" value="Delete"> 
    {{!-- //can be a button  --}}
  </form> --}}

</div>

{{/each}}